<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978806880791-fgdht7clk0c12vb4nokp1npit2cn7k65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978806880791-fgdht7clk0c12vb4nokp1npit2cn7k65</string>
	<key>API_KEY</key>
	<string>AIzaSyBHQtPWqZdAUbu-v7380UaK4j36Bs9oQDg</string>
	<key>GCM_SENDER_ID</key>
	<string>978806880791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sbjCoffee</string>
	<key>PROJECT_ID</key>
	<string>sbj-coffee</string>
	<key>STORAGE_BUCKET</key>
	<string>sbj-coffee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978806880791:ios:f3925e69e2fd444c14fa52</string>
	<key>DATABASE_URL</key>
	<string>https://sbj-coffee.firebaseio.com</string>
</dict>
</plist>